.segunda-secao {
    display: flex;
    justify-content: center;
    gap: 63px;
    margin-top: 88px;
}

.segunda-secao-imagem-container {
    margin-left: 44px;
}

.segunda-secao-imagem {
    width: 506px;
    height: 800px;
}

.segunda-secao-textos {
    flex-direction: column;
    margin-top: 125px;
}

.segunda-secao-lista-conteudo {
    display: flex;
    gap: 12px;
}

.segunda-secao-texto-lista-paragrafo {
    color: #EAE7F0;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 400;
}

.botao-anunciar-segunda-secao {
    font-family: 'Open Sans';
    display: flex;
    margin-top: 25px;
}

@media (max-width: 430px) {
.segunda-secao {
    flex-direction: column;
    text-align: center;
}

.segunda-secao-imagem-container {
    margin: 0;
}

.segunda-secao-imagem {
    width: 306px;
    height: 480px;
}

.segunda-secao-textos {
    width: 340px;
    margin: 0 auto;
    position: relative;bottom: 160px;
}

.titulo-segunda-secao {
    font-size: 30px;
}

.paragrafo-segunda-secao {
    font-size: 20px;
}

.quebra-linha {
    display: inline;
}

.segunda-secao-lista-conteudo {
    margin-left: 10px;
}

.segunda-secao-texto-lista-paragrafo {
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 21px;
}

.botao-anunciar-segunda-secao {
    min-width: 315px;
    justify-content: center;
}
}