.terceira-secao {
    margin:215px 0px 180px 160px ;
    display: flex;
    justify-content: center;
}

.terceira-secao-imagem-homem-aranha {
    margin: -250px -1px;
}

.terceira-secao-imagem-homem-aranha img {
    max-width: 785px;
    max-height: 785px;
}

.terceira-secao-imagem-pequena {
    display: none;
}

.terceira-secao-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: -95px;
}

.titulo-terceira-secao {
    font-family: "Oxanium";
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(to right, #E44963, #FD9452);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.paragrafo-terceira-secao {
    color: #BFB4D0;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 400;
}

.paragrafo-terceira-secao-mobile {
    display: none;
}

.terceira-secao-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.terceira-secao-card-um {
    background-color: #210948;
    border-radius: 20px;
    height: 246px;
    width: 600px;
    text-align: center;
}

.titulo-terceira-secao-card {
    font-family: 'Oxanium';
    padding: 40px 0 23px 0;
    color: #ff4f7a;
    font-weight: 700;
    font-size: 45px;
}

.titulo-terceira-secao-card span {
    color: #ffffff;
    font-weight: 700;
}

.barra-xp {
    background-color: #413653;
    border-radius: 10px;
    height: 10px;
    width: 75%;
    overflow: hidden;
    margin: 0px 74px;
}

.progresso {
    height: 100%;
    width: 60%;
    background: linear-gradient(to right, #ff4f7a, #ffa500);
    position: relative;
    border-radius: 10px;
}

.fogo {
    width: 65px;
    height: 42px;
    position: relative;bottom: 28px; left: 50%;
}

.paragrafo-terceira-secao-card{
    color: #BFB4D0;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 400;
}

.terceira-secao-card-dois {
    align-items: center;
    background-color: #210948B2;opacity: 0.7;
    border-radius: 20px;
    height: 62px;
    width: 505px;
}

.terceira-secao-card-tres {
    background-color: #21094880;opacity: 0.5;
    border-radius: 10px;
    height: 37px;
    width: 387px;
}

@media (max-width: 844px) {
.terceira-secao {
flex-direction: column-reverse;
text-align: center;
align-items: center;
margin: 0 0;
}

.terceira-secao-imagem-grande {
display: none;
}

.terceira-secao-imagem-homem-aranha {
max-width: 420px;
max-height: 330px;
margin: 0;
}

.terceira-secao-imagem-pequena {
display: flex;
width: 370px;
height: 370px;
}

.terceira-secao-container {
    margin: 0;
}

.titulo-terceira-secao {
    margin-top: -75px;
    font-size: 33px;
}

.paragrafo-terceira-secao-mobile {
    display: flex;
    flex-direction: column;
    color: #BFB4D0;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
}

.paragrafo-terceira-secao {
display: none;
}

.terceira-secao-card {
    width: auto;
    height: auto;
}

.terceira-secao-card-um {
    max-width: 340px;
    max-height: 200px;
}

.titulo-terceira-secao-card {
    font-size: 27px;
    padding-top: 30px;
}

.barra-xp {
    align-items: center;
    width: 85%;
    margin: 5px auto 0px;
}

.paragrafo-terceira-secao-card {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.terceira-secao-card-dois {
    max-width: 260px;
    max-height: 40px;
    margin-top: -20px;
}

.terceira-secao-card-tres {
    max-width: 220px;
    max-height: 30px;
    margin-top: -10px;
}
}