footer {
    position: relative;
    padding: 75px 138px 0;
    border-top: 1px solid #593D85;
    overflow: hidden;
}

footer::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    background-color: #ADABAB14;
    z-index: 0;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape-primeiro-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.rodape-titulo {
    font-size: 28px;
    font-weight: 700;
    background: linear-gradient(0.05turn, #E44963 10%, #fa7827 30%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.rodape-secao-pesquisa {
    margin-top: 30px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    width: 277px;
    height: 44px;
}

.rodape-secao-filtro-pesquisar {
    margin-left: 15px;
    border: none;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 200;
    width: 250px;
    background-color: transparent;
    color: #BFB4D0;
}

.rodape-redes-sociais {
    margin-top: 30px;
}

.rodape-redes-sociais-icones {
    margin-right: 20px;
}


.rodape-segunda-coluna {
    margin-left: 78px
}

.rodape-lista-conteudo {
    margin: 5px 0 28px 0;
}

.rodape-lista-titulo {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Open Sans';
    color: #BFB4D0;
}

.rodape-lista-botao {
    font-weight: 300;
    font-size: 14px;
    font-family: 'Open Sans';
    color: #BFB4D0;
}

.rodape-linha-topo {
    background-color: #593D85;
    height: 1px;
    width: 120%;
    position: relative;right: 26px;
    z-index: 1;
    display: none;
}

.rodape-linha {
    background-color: #593D85;
    height: 1px;
    width: 1080px;
    position: relative;
    z-index: 1;
    margin-top: 30px;
}

.rodape-segundo-container-principal {
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.rodape-segundo-container {
    display: flex;
    margin: 40px 0 20px;
    gap: 820px;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.rodape-creditos {
    font-family: 'Open Sans';
    position: absolute;top: 385px;
    color: #BFB4D0;
    font-size: 14px;
    font-weight: 300;
    white-space: nowrap;
    z-index: 1;
    text-align: center;
}

.rodape-botao {
    background: linear-gradient(to right ,#E44963 20%,#FD9452);
    padding: 10px 20px;
    border-radius: 5px;
}

.rodape-botao a {
    white-space: nowrap;
    color: #FFFFFF;
    font-family: 'Open Sans';
}

.rodape-adaptacao-para-mobile {
    display: flex;
}

@media (max-width: 844px) {
footer {
height: 780px;
padding-top: 15px;
}

.rodape-primeiro-container {
flex-direction: column;
}

.rodape-primeira-coluna {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

.rodape-secao-pesquisa {
margin: 15px -25px 10px 0;
width: 90%;
height: 10px;
}

.imagem-bandeira {
width: 12%;
}

.rodape-secao-filtro-pesquisar {
margin-left: 5px;
font-size: 16px;
font-weight: 400;
width: 70%;
}

.rodape-redes-sociais {
margin-top: 15px;
display: flex;
align-items: center;
gap: 20px;
}

.rodape-redes-sociais-icones {
margin: 0;
}

.imagem-redes-socicais {
width: 80%;
}

.rodape-linha-topo {
display: flex;
}

.rodape-lista-titulo {
font-size: 20px;
}

.rodape-lista-conteudo {
margin-bottom: 20px;
}

.rodape-lista-botao {
font-weight: 400;
font-size: 14px;
}

.rodape-adaptacao-para-mobile {
column-gap: 90px;
margin-top: 10px;
}

.rodape-segunda-coluna {
margin: 0;
}


.rodape-segundo-container-principal {
z-index: 1;
display: flex;
flex-direction: column;
align-items: center;
}

.rodape-linha {
width: 120%;
margin: 0;
}

.rodape-segundo-container {
gap: 10px;
justify-content: center;
}

.rodape-logotipo {
width: 100px;
}

.rodape-logotipo-image {
width: 70%;
}

.rodape-creditos {
position: absolute;top: 730px;
}
}